@import 'mixins';
@import 'typography';
@import 'variables';



@mixin styling {
/* ========== START WEBSITE STYLES ==========  */

/***** COMMON ELEMENTS *****/
label {
    font-size: 18px;
    font-weight: 500;
    color: $blue;
    line-height: 1.6;
    
    [type="text"], [type="email"], select, textarea {
        margin-top: 5px;
        margin-bottom: 13px;
    }
}
    
[type="text"], [type="email"], select, textarea {
    height: 2.5rem;
    box-shadow: none;
    border: 1px solid $blue;
}
    
button {
	font-family: $nimbus;
	
    &.submit {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        background-color: $blue;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 11px;
        padding-bottom: 11px;
        border: none;
    }
}

    
#main-header {
	background: $white;
	width: 100%;
	
	@include breakpoint(xsmall) {
		padding-top: 9px;
		padding-bottom: 9px;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1000;
	}
	
	@include breakpoint(medium) {
		padding-top: 30px;
		padding-bottom: 21px;
		position: relative;
		left: auto;
		top: auto;
	}

	@include clearit;
	
	button {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
	}

	#logo {
		@include breakpoint(xsmall) {
			width: 50%;
			float: none;
		}
		
		@include breakpoint(medium) {
			width: 277px;
			float: left;
		}
	}

	#main-navigation {
		margin-left: 38px;
		margin-top: 20px;
		margin-bottom: 0;
		float: left;
		display: inline-block;
		list-style-type: none;

		@include clearit;

		&> li {
			white-space: nowrap;
			margin-left: 7px;
			margin-right: 7px;
			position: relative;
			float: left;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
			
			&:hover {
				&> a {
					&:before {
						display: block;
					}
				}
			}

			&.active {
				&> a {
					color: $blue;
					
					&:before {
						display: block;
						border-bottom: 1px solid $blue;
					}
				}
				
				&>ul {
					border-top-color: $blue;
				}
			}
			
			&.show {
				&> ul {
					display: block !important;
				}
			}
			
			&> a {
				color: #707070;
				display: block;
				position: relative;
				
				&:before {
					content: "";
					width: 100%;
					height: 0;
					display: none;
					border-bottom: 1px solid #707070;
					position: absolute;
					left: 0;
					bottom: 0;
				}
			}
			
			&> ul {
				background-color: $white;
				margin-left: 0;
				margin-top: -1px;
				display: none;
				border-left: 1px solid #e1e1e1;
				border-right: 1px solid #e1e1e1;
				border-top: 1px solid #707070;
				position: absolute;
				list-style-type: none;
				
				li {
					border-bottom: 1px solid #e1e1e1;
					position: relative;
					
					&.active {
						&> a {
							color: $blue;
						}
					}
					
					&.show {
						&> ul {
							display: block !important;
						}
					}
					
					&> a {
						color: #707070;
						padding-left: 15px;
						padding-right: 15px;
						display: block;
						position: relative;
					}
					
					&> ul {
						background-color: $white;
						margin-left: 0;
						margin-top: -1px;
						display: none;
						border-left: 1px solid #e1e1e1;
						border-right: 1px solid #e1e1e1;
						border-top: 1px solid #e1e1e1;
						position: absolute;
						list-style-type: none;
						top: 0;
						left: 100%;
						
						li {
							&.active {
								&> a {
									color: $blue;
								}
							}
							
							&> a {
								color: #707070;
								padding-left: 15px;
								padding-right: 15px;
								display: block;
								position: relative;
							}
						}
					}
				}
			}
		}
	}
}

aside {
	*:focus {
		outline: none;
	}
	
	#side-navigation {
		margin-left: 0;
		margin-top: 0;
		list-style-type: none;
		
		li {
			position: relative;
			
			a {
				color: #707070;
				padding-left: 15px;
				padding-right: 15px;
				padding-top: 12px;
				padding-bottom: 11px;
				display: block;
				border-bottom: 1px solid #ccc;
			}
			
			.trigger {
				width: 24px;
				height: 48px;
				position: absolute;
				right: 0;
				top: 0;
				
				i {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}
			}
			
			&.active {
				&> a {
					color: $white;
					background-color: $blue;
				}
			}
			
			ul {
				margin-left: 0;
				margin-top: 0;
				
				li {
					&.active {
						&> a {
							color: $blue;
							background-color: transparent;
						}	
					}
					
					a {
						padding-left: 30px;
					}
					
					ul {
						display: none;
						
						li {
							a {
								padding-left: 45px;
							}
						}
					}
					
					&.show {
						ul {
							display: block !important;	
						}
					}
				}
			}
		}
	}
}


.callout {
	&.success {
		background-color: rgba($blue, 0.05);
		border-color: $blue;
	}
	p {
		color: $blue;
	}
}


#main-footer {
	.footer {
		width: 100%;
		background-color: $blue;
		padding-top: 75px;
		padding-bottom: 80px;
	}
	
	.copyright {
		width: 100%;
		padding-top: 16px;
		padding-bottom: 0;
		background-color: $white !important;
		
		p {
			font-size: 12px;
			color: #707070;
			overflow: hidden;
			margin-bottom: 12px;
			padding-top: 3px;
			
			img {
				margin-top: -6px;
			}
		}
	}

	p {
		color: $white;
		
		@include breakpoint(xsmall) {
			font-size: 1rem;
		}
		
		@include breakpoint(medium) {
			font-size: 1.125rem;
		}
	}

	address {
		color: $white;
		
		@include breakpoint(xsmall) {
			margin-bottom: 19px;
		}
		
		@include breakpoint(medium) {
			margin-bottom: 0;
		}
	}

	form {
		[type="text"] {
			color: $white;
			background-color: $blue;
			border: 1px solid $white;
			box-shadow: none;
		}
		
		button {
			font-size: 14px;
			color: $white;
			background-color: $blue;
			border: 1px solid $white;
			
			i {
				display: none;
				margin-right: 5px;
			}
			
			&.sending {
				i {
					display: inline-block;
				}
			}
		}
		
		input, textarea {
			&+ p {
				display: none;
			}
		}
		
		.is-invalid-input {
			margin-bottom: 0;
			
			&+ p {
				display: block;
				margin-bottom: 10px;
			}
		}
	}

	.footer-navigation {
		margin-left: 0;
		margin-bottom: 0;
		list-style-type: none;
		
		@include breakpoint(xsmall) {
			margin-bottom: 0;
		}
		
		@include breakpoint(medium) {
			margin-bottom: 35px;
		}
		
		@include breakpoint(large) {
			margin-bottom: 0;
		}
		
		&.last {
			@include breakpoint(xsmall) {
				margin-bottom: 35px;
			}
			
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
		}

		li {
			a {
				font-size: 1.125rem;
				color: $white;
				display: block;
			}
		}
	}
}

.hero-image {
	background-color: #e1e1e1;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.content-box {
	margin-top: 22px;
	margin-bottom: 22px;
	padding-top: 26px;
	padding-bottom: 32px;
    position: relative;
	border: 1px solid $blue;
}



/***** HOME PAGE *****/
#home-page {
	.hero-image {
		height: 100vh;
		
		@include breakpoint(xsmall) {
			padding-top: 48px;
		}
		
		@include breakpoint(medium) {
			padding-top: 0;
		}

		.grid-container, .grid-x {
			height: 100%;
		}

		h1 {
			color: $white;

			&.lead {
				font-weight: 700;
				color: $white;
				line-height: 1.2;
				text-align: right;
				text-shadow: 0 0 3px rgba($black, 0.2);
				
				@include breakpoint(xsmall) {
					font-size: 1.5rem;
				}
				
				@include breakpoint(large) {
					font-size: 3rem;
				}
			}
		}
	}

	#overview {
		background-color: #767676;
		padding-top: 43px;
		padding-bottom: 24px;

		p {
			font-size: 1.75rem;
			color: $white;
			line-height: 1.25;
		}
	}

	#product-category {
		.carousel {
			.slick-slide {
				&[aria-hidden="true"] {
					:before {
						display: none;
					}
				}
			}

			.cell {
				position: relative;
				padding-left: 5px;
				padding-right: 5px;
				padding-bottom: 14px;

				&:before {
					content: '';
					width: 0;
					height: 100%;
					border-right: 1px solid $blue;
					position: absolute;
					right: -1px;
				}

				p {
					font-size: 1.5rem;
					font-weight: 700;
					color: $blue;
					margin-top: 18px;
					margin-left: 10px;
					margin-bottom: 4px;
					position: relative;
				}
			}
			
			.slick-arrow {
				color: #767676;
				position: absolute;
				top: 50%;
				z-index: 100;
				transform: translateY(-50%);
				
				&.slick-prev {
					left: 15px;
				}
				
				&.slick-next {
					right: 15px;
				}
				
				&.slick-disabled {
					display: none!important;
				}
			}
		}
	}

	#map {
		background-color: $blue;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		
		@include breakpoint(xsmall) {
			height: auto;
			padding-top: 72px;
			padding-bottom: 53px;
		}
		
		@include breakpoint(large) {
			height: 100vh;
			padding: 0;
		}

		.grid-container, .grid-x {
			height: 100%;
		}

		h2 {
			font-weight: 700;
			color: $white;
			line-height: 1.2;
			margin-bottom: 0;
			text-shadow: 0 0 3px rgba($black, 0.3);

			@include breakpoint(xsmall) {
				font-size: 2rem;
			}
			
			@include breakpoint(large) {
				font-size: 3rem;
			}
			
			&+ p {
				color: $white;
				
				@include breakpoint(xsmall) {
					font-size: 1.25rem;
				}
				
				@include breakpoint(large) {
					font-size: 1.5rem;
				}
			}
		}
	}

	#global-leaders {
		padding-top: 33px;
		background-color: rgba($medium_gray, 0.5);
		
		@include breakpoint(xsmall) {
			padding-bottom: 18px;
		}
		
		@include breakpoint(medium) {
			padding-bottom: 48px;
		}

		h2 {
			color: $dark_gray;
			font-weight: 700;
			line-height: 1;
			margin-bottom: 26px;
				
			@include breakpoint(xsmall) {
				font-size: 2rem;
			}
			
			@include breakpoint(large) {
				font-size: 3rem;
			}
		}
		
		.logo {
			@include breakpoint(xsmall) {
				margin-bottom: 20px;
			}
			
			@include breakpoint(large) {
				margin-bottom: 0;
			}
		}
	}

	#timeline {
		background-color: rgba($blue, 0.2);
		padding-top: 56px;
		padding-bottom: 56px;

		.accordion {
			background: transparent;
			margin-bottom: 0;

			.accordion-item {
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}
			}

			.accordion-title {
				font-size: 28px;
				color: $white;
				background-color: $blue;
				padding-top: 17px;
				padding-bottom: 15px;
				border: 0;

				&:before {
					display: none;
				}
			}

			.accordion-content {
				padding-top: 23px;
				padding-bottom: 26px;
				border: 1px solid $dark_gray;
				border-top: 0;

				p {
					font-size: 0.75rem;
					color: $medium_gray;
				}
			}
		}
	}
	
	#commitment {
		h2 {
			color: $blue;
			font-weight: 700;
			
			@include breakpoint(xsmall) {
				font-size: 2rem;
			}
			
			@include breakpoint(large) {
				font-size: 3rem;
			}
		}
		
		p {
			font-size: 1.25rem;
		}
		
		.content-box {
			padding-top: 31px;
			padding-bottom: 22px;
		}
	}
	
	.logos {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		@include clearit;
		
		li {
			text-align: center;
			float: left;
			
			@include breakpoint(xsmall) {
				width: 50%;
				height: 64px;
				margin-bottom: 20px;
				padding-left: 10px;
				padding-right: 10px;
				
				&:last-child {
					width: 100%;
				}
			}
			
			@include breakpoint(medium) {
				width: 20%;
				height: 64px;
				margin-bottom: 0;
				padding-left: 10px;
				padding-right: 10px;
				
				&:last-child {
					width: 20%;
				}
			}
			
			@include breakpoint(large) {
				height: auto;
			}
			
			img {
				@include breakpoint(xsmall) {
					width: auto;
					max-width: none;
					height: auto;
					max-height: 100%;
				}
				
				@include breakpoint(large) {
					width: auto;
					max-width: 100%;
					height: auto;
					max-height: none;
				}
			}
		}
	}
}
    

    
/***** CATEGORY PAGE *****/
#category-page {
	section {
		@include breakpoint(xsmall) {
			&:first-of-type {
				padding-top: 48px;
			}	
		}
		
		@include breakpoint(medium) {
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		header {
			background-color: $blue;
			
			@include breakpoint(xsmall) {
				margin-bottom: 0;
			}
			
			@include breakpoint(xlarge) {
				margin-bottom: 32px;
			}
			
			h2 {
				font-weight: 700;
				color: $white;
				line-height: 1.0417;
				margin-top: 12px;
				margin-bottom: 12px;
				
				@include breakpoint(xsmall) {
					font-size: 2rem;
				}
				
				@include breakpoint(medium) {
					font-size: 2.5rem;
				}
	        }
		}
		
		.product-list {
			@include breakpoint(xsmall) {
				margin-bottom: 0;
			}
			
			@include breakpoint(xlarge) {
				margin-bottom: 32px;
			}
			
		    .grid-x {
			    border-left: 1px solid $blue;
			    
				.cell {
					padding-bottom: 14px;
                    border-top: 1px solid $blue;
					border-right: 1px solid $blue;
			   		position: relative;
			   		
			   		&:before {
				   		content: "";
				   		border-bottom: 1px solid $blue;
				   		position: absolute;
				   		width: 100%;
				   		height: 0;
				   		left: 0;
				   		bottom: -1px;
			   		}
				    
				    p {
						color: $blue;
                        line-height: 1.2;
						margin-top: 12px;
						margin-bottom: 4px;
						position: absolute;
						left: 0;
						top: 0;
						
						@include breakpoint(xsmall) {
							font-size: 1rem;
							font-weight: 400;
							padding-left: 15px;
							padding-right: 15px;
						}
						
						@include breakpoint(medium) {
							font-size: 1.25rem;
							font-weight: 600;
							padding-left: 30px;
							padding-right: 30px;
						}
					}
					
					img {
						margin-top: 56px;
					}
			    }
		    }
	    }
	}
}



/***** SUBCATEGORY PAGE *****/
#subcategory-page {
	section {
		@include breakpoint(xsmall) {
			&:first-of-type {
				padding-top: 48px;
			}	
		}
		
		@include breakpoint(medium) {
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		header {
	        background-color: $blue;
	        
	        h1 {
				color: $white;
				line-height: 1.0417;
				margin-top: 12px;
				margin-bottom: 12px;
				
				@include breakpoint(xsmall) {
					font-size: 2rem;
				}
				
				@include breakpoint(medium) {
					font-size: 2.5rem;
				}
	        }
	    }
	    
	    .intro {
		    margin-bottom: 103px;
		    padding-top: 75px;
		    
		    p {
			    font-size: 1.375rem;
			    color: $blue;
			    line-height: 1.2;
			    
			    &.product {
				    font-size: 1rem;
				    line-height: 1.125rem;
			    }
		    }
		    
		    blockquote {
			    font-family: $helvetica;
			    font-size: 48px;
			    color: $blue;
			    line-height: 1.1;
			    margin-top: -10px;
			    padding-left: 0;
			    border: none;
		    }
	    }
	    
	    .details {
		    margin-bottom: 92px;
		    
		    p {
			    color: $blue;
			    line-height: 1.125;
		    }
	    }
	    
	    .product-list {
		    @include breakpoint(xsmall) {
				margin-bottom: 0;
			}
			
			@include breakpoint(xlarge) {
				margin-bottom: 32px;
			}
			
		    .grid-x {
			    border-left: 1px solid $blue;
			    
				.cell {
			   		padding-bottom: 14px;
			   		border-top: 1px solid $blue;
			   		border-right: 1px solid $blue;
                    position: relative;
			   		
			   		&:before {
				   		content: "";
				   		border-bottom: 1px solid $blue;
				   		position: absolute;
				   		width: 100%;
				   		height: 0;
				   		left: 0;
				   		bottom: -1px;
			   		}
				    
                    p {
						color: $blue;
                        line-height: 1.2;
						margin-top: 12px;
						margin-bottom: 4px;
						position: absolute;
						left: 0;
						top: 0;
						
						@include breakpoint(xsmall) {
							font-size: 1rem;
                            font-weight: 400;
                            padding-left: 15px;
							padding-right: 15px;
						}
						
						@include breakpoint(medium) {
							font-size: 1.125rem;
                            font-weight: 600;
                            padding-left: 30px;
							padding-right: 30px;
						}
					}
                    
                    img {
						margin-top: 56px;
					}
			    }
		    }
	    }
    }
}
    


/***** PRODUCT DETAIL PAGE *****/
#product-detail-page {
	section {
		@include breakpoint(xsmall) {
			&:first-of-type {
				padding-top: 48px;
			}	
		}
		
		@include breakpoint(medium) {
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		header {
			background-color: $blue;
			
			h1 {
				color: $white;
				line-height: 1.0417;
				margin-top: 8px;
				margin-bottom: 16px;
				
				@include breakpoint(xsmall) {
					font-size: 1.5rem;	
				}
				
				@include breakpoint(medium) {
					font-size: 2.5rem;	
				}
				
				span {
					font-weight: 300;
					line-height: 1.1667rem;
					
					@include breakpoint(xsmall) {
						font-size: 1.125rem;	
					}
					
					@include breakpoint(medium) {
						font-size: 2.125rem;	
					}
				}
				
				a {
					color: $white;
				}
			}
		}
	}
	
    a {
        &.button-close {
            color: $blue;
            display: block;
            position: absolute;
            right: 5px;
            top: 5px;
        }
        
        &.share-product {
            height: 28px;
            display: inline-block;
            
            span {
                line-height: 24px;
                text-align: center;
                background-color: $blue;
                width: 24px;
                height: 24px;
                display: inline-block;
                position: relative;
                border-radius: 50%;
            }
            
            i {
                font-size: 0.875rem;
                color: $white;
                line-height: 20px;
            }
        }
    }
    
    form {
        p {
            &.lead {
                font-size: 1.5rem;
                font-weight: 700;
                color: $blue;
            }
        }
        
        textarea {
            height: 254px;
            margin-bottom: 17px;
        }
        
        button {
			font-size: 18px;
			background-color: $blue;
			
			i {
				display: none;
				margin-right: 5px;
			}
			
			&.sending {
				i {
					display: inline-block;
				}
			}
		}
		
		input, textarea {
			&+ p {
				display: none;
			}
		}
		
		.is-invalid-input {
			margin-bottom: 0;
			
			&+ p {
				display: block;
				margin-bottom: 10px;
			}
		}
    }
	
	.product-detail {
		.overview {
			@include breakpoint(xsmall) {
				padding-top: 16px;
				padding-bottom: 16px;	
			}
			
			@include breakpoint(medium) {
				padding-top: 36px;
				padding-bottom: 36px;	
			}
			
			h1 {
				color: $blue;
				line-height: 1.0833;
				margin-top: -6px;
				
				@include breakpoint(xsmall) {
					font-size: 1.75rem;	
					margin-bottom: 14px;
				}
				
				@include breakpoint(medium) {
					font-size: 2rem;
					margin-bottom: 38px;
				}
			}
			
			p {
				font-size: 1.125rem;
				color: $blue;
				line-height: 1.25rem;
			}
			
			img {
				@include breakpoint(xsmall) {
					margin-bottom: 12px;	
				}
				
				@include breakpoint(medium) {
					margin-bottom: 0;	
				}
			}
		}
		
		.detail {
			background-color: $blue;
			padding-top: 89px;
			padding-bottom: 86px;
			
			h4 {
				color: $white;
			}
			
			p {
				color: $white;
			}
			
			a {
				color: $white;
				border-bottom: 1px dotted $white;
			} 
			
			.border {
				position: relative;
				
				&:before {
					content: "";
					width: 0;
					height: 100%;
					border-left: 1px solid $white;
					position: absolute;
					left: -10%;
					top: 0;
					
					@include breakpoint(xsmall) {
						display: none;
					}
					
					@include breakpoint(large) {
						display: block;
					}
				}
			}
		}
	}
	
    .dropdown-pane {
        width: auto;
        margin: 0;
        padding: 0;
        display: inline-block;
        border: 1px solid $blue;
        list-style-type: none;
        
        a {
            padding-top: 3px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 10px;
            display: block;
        }
    }
    
	.carousel {
		padding-top: 40px;
		padding-bottom: 40px;
		
		img {
			margin-left: auto;
			margin-right: auto;
		}
		
		.slick-arrow {
			color: #767676;
			position: absolute;
			top: 50%;
			z-index: 100;
			transform: translateY(-50%);
			
			&.slick-prev {
				left: 15px;
			}
			
			&.slick-next {
				right: 15px;
			}
			
			&.slick-disabled {
				display: none!important;
			}
		}
	}
}



/***** ABOUT PAGE *****/
#about-page {
	section {
		margin-bottom: 57px;
		
		@include breakpoint(xsmall) {
			&:first-of-type {
				padding-top: 48px;
			}	
		}
		
		@include breakpoint(medium) {
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		header {
			background-color: $blue;
			
			h1 {
				color: $white;
				line-height: 1.0417;
				margin-top: 12px;
				margin-bottom: 12px;
				
				@include breakpoint(xsmall) {
					font-size: 2rem;
				}
				
				@include breakpoint(medium) {
					font-size: 2.5rem;
				}
	        }
		}
		
		.hero-image {
			background-color: $white;
			margin-bottom: 74px;
			
			.supplier {
			    padding-top: 22px;
			    background-color: rgba($medium_gray, 0.5);
			    
			    p {
				    font-size: 18px;
				    font-weight: 700;
			    }
			    
			    .logo {
					@include breakpoint(xsmall) {
						margin-bottom: 20px;
					}
					
					@include breakpoint(large) {
						margin-bottom: 20px;
					}
				}
		    }
		    
		    .quote {
			    background-color: rgba($medium_gray, 0.5);
			    
				blockquote {
					font-weight: 700;
					color: $white;
					line-height: 1.5;
					
					@include breakpoint(xsmall) {
						font-size: 1.25rem;
					}
					
					@include breakpoint(large) {
						font-size: 1.75rem;
					}
				}   
		    }
		}
		
		h3 {
			font-size: 18px;
			margin-bottom: 0;
		}
	}
	
	.logos {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		@include breakpoint(xsmall) {
			padding-bottom: 28px;
		}
		
		@include breakpoint(large) {
			padding-bottom: 0;
		}
		
		@include clearit;
		
		li {
			text-align: center;
			float: left;
			
			@include breakpoint(xsmall) {
				width: 50%;
				height: 64px;
				margin-bottom: 20px;
				padding-left: 10px;
				padding-right: 10px;
				
				&:last-child {
					width: 100%;
				}
			}
			
			@include breakpoint(medium) {
				width: 33.333%;
				height: 64px;
				margin-bottom: 20px;
				padding-left: 10px;
				padding-right: 10px;
				
				&:last-child {
					width: 33.333%;
				}
				
				&:nth-child(1), &:nth-child(2) {
					width: 50%;
				}
			}
			
			img {
				@include breakpoint(xsmall) {
					width: auto;
					max-width: none;
					height: auto;
					max-height: 100%;
				}
			}
		}
	}
}



/***** ABOUT PAGE *****/
#contact-page {
	section {
		@include breakpoint(xsmall) {
			&:first-of-type {
				padding-top: 48px;
			}	
		}
		
		@include breakpoint(medium) {
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		header {
			background-color: $blue;
		    margin-bottom: 72px;
		        
			h1 {
				color: $white;
				line-height: 1.0417;
				margin-top: 12px;
				margin-bottom: 12px;
				
				@include breakpoint(xsmall) {
					font-size: 2rem;
				}
				
				@include breakpoint(medium) {
					font-size: 2.5rem;
				}
	        }
		}
		
		h4 {
			color: $blue;
		}
		
		p {
			font-size: 18px;
			
			span {
				color: $blue;
			}
			
			img {
				margin-top: -3px;
			}
		}
		
		form {
			padding-bottom: 51px;
			
			textarea {
				height: 160px;
				margin-bottom: 16px;
			}
			
			button {
				font-size: 18px;
				background-color: $blue;
				
				i {
					display: none;
					margin-right: 5px;
				}
				
				&.sending {
					i {
						display: inline-block;
					}
				}
			}
			
			input, textarea {
				&+ p {
					display: none;
				}
			}
			
			.is-invalid-input {
				margin-bottom: 0;
				
				&+ p {
					display: block;
					margin-bottom: 10px;
				}
			}
		}
	}
}



#generic-page {
	section {
		padding-bottom: 57px;
		
		@include breakpoint(xsmall) {
			&:first-of-type {
				padding-top: 48px;
			}	
		}
		
		@include breakpoint(medium) {
			&:first-of-type {
				padding-top: 0;
			}
		}
		
		header {
			background-color: $blue;
			margin-bottom: 74px;
			
			h1 {
				color: $white;
				line-height: 1.0417;
				margin-top: 8px;
				margin-bottom: 10px;
				
				@include breakpoint(xsmall) {
					font-size: 1.5rem;	
				}
				
				@include breakpoint(medium) {
					font-size: 2.5rem;	
				}
				
				span {
					font-weight: 300;
					line-height: 1.1667rem;
					
					@include breakpoint(xsmall) {
						font-size: 1.125rem;	
					}
					
					@include breakpoint(medium) {
						font-size: 2.125rem;	
					}
				}
				
				a {
					color: $white;
				}
			}
		}
	}
}
/* ========== END WEBSITE STYLES ==========  */
}