@import '_mixins';
@import 'variables';
@import url("https://use.typekit.net/bgr2zca.css");

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-BlkCn.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

$nimbus: "nimbus-sans", sans-serif;
$helvetica: 'Helvetica Neue LT Std', sans-serif;

h1 {
	font-family: $nimbus;
	font-size: 3rem;
	font-weight: 700;
	color: $blue;
}

h3 {
	font-weight: 700;
	color: $medium_gray;
}

h4 {
	font-weight: 700;
}

p, li {
	font-family: $nimbus;
	font-size: 1rem;
	font-weight: 400;
	color: $medium_gray;

	&.lead {
		@include breakpoint(xsmall) {
			font-size: 1.25rem;
		}
		
		@include breakpoint(medium) {
			font-size: 2rem;
		}
	}
}

strong {
	font-weight: 700;
}

address {
	font-family: $nimbus;
	font-style: normal;
	font-weight: 400;
	
	@include breakpoint(xsmall) {
		font-size: 1rem;
	}
	
	@include breakpoint(medium) {
		font-size: 1.125rem;
	}
}

blockquote {
	font-family: $helvetica;
}

a {
	font-family: inherit;
}