@import url('//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css');

.nav-xs{
	width: 80px;
}
.nav-xs .nav-primary>ul>li>a span {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  width: 80px;
}

.viewer{
	height: 829px;
	width: 398px;
}

img.updates-background, img.updates-image{

}

/*
top 138
left 65
*/

img.updates-image{
	text-align: center;
	position: absolute;
	top: 142px;
	left: 70px;
	width: 323px;
	height: 250px;
}

p.updates-title{
	position: absolute;
	top: 395px;
	left: 70px;
	width: 323px;
	height: 250px;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}

p.updates-content{
	position: absolute;
	top: 422px;
	left: 70px;
	width: 323px;
	height: 250px;
	font-size: 14px;
	color: #000000;
}

textarea.form-control{
	resize: none;
}

.dpt-thumbnail{
	width: 25%;
	height: auto;
}

.candidate-thumbnail{
	width: 100px;
	height: 100px;
}

/* appointment */
.panel-default{
	padding: 15px;
}
.right-button{
	margin: 20px 0 -10px 0;
}
.appointment-table{
	width: 100%;
	border: 1px solid #cecece;
}
.appointment-table th{
	background: #b1b1b1;
	color: #ffffff;
}
.appointment-table td:hover{
	border-left: 2px solid #F00;
	background: #bebebe;
}
	.time{
		padding: 5px;
	}
.row-filter{
	margin-bottom: 15px;
}

.legend ul{margin: 0;}
.legend ul li{
	margin-bottom: 8px;
	list-style-type: none;
	text-indent: 0px;
	margin-left: -40px;
}
.checkout{
	color: #fff;
	background: #f7941d;
	padding: 2px 5px;
	border-radius: 5px;
}
.checkin{
	color: #f7941d;
	background: #090;
	padding: 2px 5px;
	border-radius: 5px;
}
.draft, .confirm, .checkout, .checkin, .closed, .noshow, .freetrial{
	color: #ffffff;
	padding: 3px 5px;
	border-radius: 5px;
	margin-right: 5px;
}
.draft{background: #919191;}
.confirm{background: #f7941d;}
.checkin{background: #605ca8;}
.closed{background: #6dcff6;}
.noshow{background: #ed1c24;}
.freetrial{background: #0a991b;}
.white{color: #ffffff;}

/* .nav-xs{display: none !important;} */
.navbar-header{
	width: 600px;
}
.admin-title{
	margin: 20px 0;
}
.admin-wrapper{
	margin-bottom: 20px;
}

/* p with parameters */
.danger{
	color: #F00;
	font-weight: bold;
}

/* back button */
.btn-back{
	margin: -20px 0 0 -15px;
}

/* pdf export */
.export-pdf .header{
	text-align: center;
}
table.export-daily tr td{
	font-weight: bold;
	/*border: 1px solid #000000;*/
}
table.no-border tr td{
	font-weight: normal;
	border: none !important;
	border-bottom: 1px solid #000 !important;
}
table.no-border tr td.item{
	padding-left: 40px;
}
table.export tr td{
	padding: 10px;
}
.text-center{
	text-align: center;
}
.grey{
	background: #c1c1c1;
	color: #ffffff;
}

/* handling dropdown admin menu */
ul.dropdown-menu{
	max-height: 450px !important;
	overflow-y: scroll !important;
}


.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate{
	width: 50%;
}
.dataTables_length,  .dataTables_info{
	float: left;
}.dataTables_filter, .dataTables_paginate{
	float: right;
	text-align: right;
}
.dataTables_filter input{
	border: 1px solid #ccc;
	width: 300px;
	margin-left: 5px;
	padding: 5px 10px;
}
.dataTables_wrapper{
	padding-bottom: 20px;
}
.paginate_button {
	padding: 5px 7px;
	border: 1px solid #ccc;
	margin: 0 2px;
	color: #999;
}
.paginate_button:hover{
	cursor: pointer;
}
.paginate_button.current{
	color: #333;
	border: 1px solid #333;
}

body, a.list-group-item, .btn-default{
	color: #000;
}
.text-muted{
	color: #666;
}

.buy-online
{
	color: #2EF4B9;
}